:root {
  --primary-color: #7eda8a;
  --secondary-color: #ACD9B2;
  --danger-color: #ff0000;
  --font-family: 'Roboto+Condensed', sans-serif;
  --button-background-color: var(--secondary-color);
  --button-border-color: var(--primary-color);
  --button-hover-background-color: var(--primary-color);
  --button-hover-border-color: var(--secondary-color);
  --card-border-radius: 1rem;
  --product-card-width: 240px;
  --product-card-img-width: 240px;
  --product-card-img-height: 240px;
  --product-card-img-border-radius: 20px;
  --navbar-link-padding: 1rem;
  --navbar-link-margin: 0.9rem;
  --navbar-link-width: 11rem;
  --navbar-link-border-radius: 0.5rem;
  --footer-font-size: 1.7rem;
  --footer-font-weight: bold;
  --black: #555555;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--black);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--black);
  font-family: var(--font-family);
}
a{
  text-decoration: none;
  font-size: 15px;
}
.product-card {
  border-radius: var(--card-border-radius);
  width: var(--product-card-width);
}

